<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~matthew.birtch/matthewbirtch.com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~matthew.birtch/matthewbirtch.com/index.php [L]
</IfModule>
